body {
    width: 450px;
    border: 1px black solid;
    font-family: Verdana;
    font-size: 14px;
}

.container {
    display: table;
}

.header {
    width: 100%;
    padding-left: 4px;
}

.header_img {
    display: table-cell;
}

.header_title {
    display: table-cell;
    font-family: 'Arial', cursive;
    font-size: 32px;
    color: #000;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.container_row {
    display: table-row
}

.container_cell {
    display: table-cell
}

.options_bar {
    background-color: lightgrey;
    margin-left: 9px;
    margin-right: 9px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 4px;
}

.toggle_bar {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 8px;
    margin-left: 9px;
    padding-bottom: 8px;
    border: lightgray 2px solid;
    width: 95%;
}

.toggle {
    padding: 4px 8px 4px 4px;
    vertical-align: middle;
}

.toggle_text {
    vertical-align: middle;
    padding-left: 6px;
}

.styled_select{
   min-width: 150px;
   height: 25px;
   overflow: hidden;
   background: lightgray;
   border: 1px solid #fff;
    float: right;
}

.toggle_status_container {
    vertical-align: top;
    padding-top: 3px;
    width: 22px;
}

.toggle_status_item {
    width: 15px;
    height: 15px;
    border-radius: 30%;    
    color: white;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    box-shadow: 2px 3px 2px #888888;
}

.toggle_status_development {
    background-color: lightgreen;
    border: darkgreen 1px solid;
    color: darkgreen;
}
.toggle_status_development:after{
    content: "D";
}

.toggle_status_under_test {
    background-color: yellow;
    border: darkgoldenrod 1px solid;
    color: darkgoldenrod;
}

.toggle_status_under_test:after{  
    content: "T";
}

.toggle_status_released {
    background-color: lightblue;
    border: darkblue 1px solid;
    color: darkblue;
}

.toggle_status_released:after{
    content: "R";
}

.toggle_status_subtitles {
    list-style: none;
    display: inline;
    padding-left: 10px;
    vertical-align: middle;
}
.toggle_status_subtitles div, .toggle_status_subtitles label{    
    display: inline-block;
}

.toggle_status_subtitles label {
    font-size: 14px;
}

.no_toggle_active_message {
    padding: 30px;
    color: red;
    font-size: 18px;
    text-align: center;
}
