body {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto
}

.options_title {
    vertical-align: middle;
    text-align: center;
    width: 100%;
    padding-bottom: 30px; 
}

.option_label {
    width: 250px;
    font-family: Verdana;
    font-size: 14px;
    padding-left: 20px;
    vertical-align: top;
}

.option_field {
    vertical-align: top;
    width: 450px;
}

.option_help {
    vertical-align: top;
    width: 150px;
    font-family: Verdana;
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    padding-left: 5px;
}

.options_save {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1024px;
    text-align: center;
    margin-left: auto;
}

.options_save_content {
    text-align: center;
    padding: 10px;
    background-color: lightgrey;
    width: 90%;
    margin-left: auto ;
  margin-right: auto ;
}