.toggle-bar-container {
    background-color: #fffb40;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 100;
    text-align: left;
    vertical-align: middle;
    padding: 0 8px 0 8px;
    overflow: hidden;  
    box-shadow: 0px 2px 3px #888888;
    z-index: 1000; 
}

.toggle-bar-mark {
     padding-top: 2px;
    font-family: wingdings;
    font-size: 175%;
    vertical-align: middle;
    font-weight: bolder;
    display: inline-block;
}

.toggle-bar-mark-enabled{
    color: green;
}

.toggle-bar-mark-disabled {
    color: red;
}

.toggle-bar-img-header {
    width: 170px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADqYAAAOpgAABdvkl/FRgAABV5JREFUeNq0lktoXFUYx7977rnPuXPvzHSetWlrEjSYsXkoVbBaEDRFFF25USsoogtBEFpUEERw4aIuuihU0YWQKlYsUhAtVqVqpQ9tiWkSJplMM+M8Mo/OzH3MfZ57XTStjZMs+60OnMfvnP/5f985VBAEcDsDwW0OfKMxPT39UiQS+cPzvHnTNIEQAqFQCDC+PiQIAohGoxCLxYDjOKhWq9BoNICmaXBdFxiGAUVRcLvdflpV1eH9+/d/uA7Q6/UWDMN4HQBsADgnSdIphFCboijYTEaKogAhBISQ7YZhPNRsNu93XZfyff9E3wkkSTobDofP6rq+S9f1B1ut1ruWZWnRaPRzlmXzvu8DRVH/aYsQuK473Gg0XvY8TxZFcU4QhMPxeHylVqv1SxQEAdA0DbIsz6RSqZlqtUrbtv1ooVB4LZvNHhIEoeY4DiCEAGMMrutuL5fLr6ZSqelQKHSZZVkAAHBdd+M7iMfjNyaCqqp3N5tNQtP05S1btriWZT0Vi8U+6Xa7YFkWdDodZWlp6f1YLPbp6upqPRqNjgAAGRwcXGYYhsiy3A+IRqOAEIJisTg1Pz9/ghAi8DzvSpLUXFxc9ABAGx8fP14sFtlLly69Jcvyi7FY7HHTNFO6riOO4zRRFHczDLNwq5Q3Afl8HgCAK5fLH0mSVItEIn+22+2tKysrEVEURULIsXw+/4Lv+0gQhEds254plUooHo/PY4wvaJr2TLVafZLn+YVbTXETMDIyAqZpxvL5/FA2m30zlUodmZmZAUEQIJ1OS+12++1isfgOz/PWxMTEnlar9VelUgnS6TRkMhm4evUqKZVK49FoFHzf7wdUq1VwHGc7TdNcsVhcNgwDZFmmE4nErkKhcMWyrGsMwwAA2IZh/JPJZCRN0+7sdrtXQqEQ8Tzvb0VRJsfGxsDzvH7A0tIS+L4fp2kaer2ezXEcCIKwd3Z29nQ8Hp+UJIlpNpsAAEIul+Mwxm/Ytn0AIXRHuVyuB0Ggh8PhnbOzs2wQBM7k5OR6gK7rEAQBz7IsDAwMVEVRBFVVK6Iong2HwybGeLBerwNCCJLJJLIsawlj/CvP8z1RFMEwjJaqqkKpVBIoinL6TsAwDARB4Pu+D6qqPqwoSnDt2rWVRCLxRCgU6lar1WGapiEIAiaZTE74vv9Zq9X6ShRFThCEu1RVfQAAfJZl/Q3zYOvWreB53m/1ev1krVb7uNls9gghtU6n48uybOq6fu+aO6hcLncUY/yepmk8TdM8AGwnhEAikTgwNDSkEUL6AWs1p5FMJp9FCN1XKpWOIoRGEUKWruvfEULORCKRLQBAdTqdDsY4gRDa5/u+yHHcoXQ6/c3o6Og5lmVhQ5uuOQQwxlYkEvndMIyFVqt1TyQSmVIUpdjr9SaGh4d/RAhRc3Nzj+/YseMXz/O2LSwsnBkZGTklSdJZjuMAIbQxgOM44DjuZj1hWfa0LMvswMDATD6fP0kI2VMqlR6TJGnVNM3jhULh/LZt257DGB/jOG6RZVnodrubvwe36kYIAVmWv5Zl+Xyv13tF1/U9DMOsCoJwqV6vu7ZtNy3L2u04zsHBwcHDDMMUTNNcV237ADzP/7+voet6Q9O0533fh1Qq9YWiKC1VVXlBEK6YprnXtm3FcZzZTqezLns3BGQymb5OmqahUqn83Ol09g0NDX2gKAqk02mrUqkcvHDhwvdjY2On0+n0uszdFLCWpX0RBMFPO3fuPBKPx5uqqkIulwPXdRc4jvvWcZwvu93uprvve3A2WBwwxnooFPpheXmZYxjGzmaz4HkedfHixUOFQkHdbOGpqanr9r/d35Z/BwCRMbfEGWo0wQAAAABJRU5ErkJggg==');
    display: inline-block;
}

.toggle-bar-header_title {
    padding-left: 6px;
    padding-top: 5px;
    display: inline-block;
    font-family: 'Arial', cursive;
    font-size: 18px;
    color: #000;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
.toggle-bar-toggle-container {
    display: inline-block;
    padding-right: 10px;
    height: 30px;
    margin-top: 3px;
}

.toggle-bar-toggle-name {
    font-family: Verdana;
    font-size: 14px;  
    display: inline-block;
    color: black;
    font-weight: normal;
    padding-left: 2px;
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}

.toggle-bar-toggle-name:hover {
    overflow: visible;
    max-width: 100%;
    font-weight: bold;
}