featurebeeextension .uiblocker{
    display: block;
    position: fixed;
    left: 0%;
    top: 0%; 
    background-color: black;
    -moz-opacity: 0.7;
    opacity: .70;
    filter: alpha(opacity=70);
    width: 100%;
    height: 100%;
    z-index: 2147483647; /* int.max -1 */
}

featurebeeextension .content{
    display: block;
    position: relative;
    left: 10%;
    top: 3rem; 
    background-color: #BDB8AD;
    -moz-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
    width: 80%;
    min-width: 380px;
    height: 80%;
    z-index: 2147483647; /* int.max */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 12px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 12px 3px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 12px 3px rgba(0,0,0,0.75);
}

featurebeeextension .titleImage{
    margin: 5px;
    float: left;
}

featurebeeextension .title{
    height: 4.5rem;
}

featurebeeextension .messageContainer{
    display: inline-block;
    margin: auto;
    position: absolute;
    right: 5rem;
    left: 11rem;
}

featurebeeextension .message {
    margin: auto;
    background-color: lightgoldenrodyellow;
    margin-top: 0.5rem;
    padding: 0.3rem;
    overflow: hidden;
    max-height: 4rem;
    text-align: center;
     -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
featurebeeextension .message a, featurebeeextension .message a:hover{
    display: inline-block;
}

featurebeeextension .close{
    float: right;
    padding-right: 1.5rem;
    padding-top: 1rem;
    font-size: 0.9rem;
    cursor: pointer;
    width: 3rem;
    height: 2rem;
    text-align: right;
    display: inline-block;
    right: 0;
    position: absolute;
    vertical-align: top;
    top: 0;
}

featurebeeextension .close:hover {
    text-decoration: underline;
}

featurebeeextension .maincontentarea{
    width: 70%;
    display: inline-block;
    vertical-align: top;
}

featurebeeextension .sidecontentarea{
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

featurebeeextension .box{
   font-family: Tahoma, Geneva, sans-serif;
   margin: 10px;
}

featurebeeextension .boxtitle{
    font-size: 1rem;
    font-weight: bold;
    margin: 3px;
    color: #313131;
}

featurebeeextension .boxcontent{
     background-color: #FFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #424242;
    padding: 0.6rem;
    min-height: 40px;
}
featurebeeextension .toggleContainer {
    padding: 4px;
    font-size: 1rem;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}

featurebeeextension .toggleContainer:hover, featurebeeextension .toggleContainer:focus, featurebeeextension .toggleContainer:active {
    background-color: lightgray;
    cursor: default;
}

featurebeeextension .toggleButton{
    margin: 0 10px 0 5px;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: bold;
    border: 1px solid #424242;
    padding: 2px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

featurebeeextension .toggleButtonInactive{
    width: 5%;
    cursor: default;
}

featurebeeextension .toggleButtonInactive[data-inactive-enabled=true] {
    background-color: #99cc66;
}

featurebeeextension .toggleButtonInactive[data-inactive-enabled=false] {
    background-color: #d3d5d2;
}

featurebeeextension .toggleButton:hover, featurebeeextension .toggleButton:focus, featurebeeextension .toggleButton:active {
  cursor: pointer;
}

featurebeeextension .toggleButton[data-enabled=true] {
    color: white;
    width: 5%;
    background: rgba(135,227,50,1);
    background: -moz-linear-gradient(top, rgba(135,227,50,1) 0%, rgba(93,122,7,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(135,227,50,1)), color-stop(100%, rgba(93,122,7,1)));
    background: -webkit-linear-gradient(top, rgba(135,227,50,1) 0%, rgba(93,122,7,1) 100%);
    background: -o-linear-gradient(top, rgba(135,227,50,1) 0%, rgba(93,122,7,1) 100%);
    background: -ms-linear-gradient(top, rgba(135,227,50,1) 0%, rgba(93,122,7,1) 100%);
    background: linear-gradient(to bottom, rgba(135,227,50,1) 0%, rgba(93,122,7,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e332', endColorstr='#5d7a07', GradientType=0 );
}

featurebeeextension .toggleButton[data-enabled=false] {
    width: 5%;
    color: black;
    background: rgba(234,235,232,1);
    background: -moz-linear-gradient(top, rgba(234,235,232,1) 0%, rgba(167,168,166,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(234,235,232,1)), color-stop(100%, rgba(167,168,166,1)));
    background: -webkit-linear-gradient(top, rgba(234,235,232,1) 0%, rgba(167,168,166,1) 100%);
    background: -o-linear-gradient(top, rgba(234,235,232,1) 0%, rgba(167,168,166,1) 100%);
    background: -ms-linear-gradient(top, rgba(234,235,232,1) 0%, rgba(167,168,166,1) 100%);
    background: linear-gradient(to bottom, rgba(234,235,232,1) 0%, rgba(167,168,166,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaebe8', endColorstr='#a7a8a6', GradientType=0 );
}

featurebeeextension .toggleActionButton {
    width: 10%;
background: rgba(240,240,239,1);
background: -moz-linear-gradient(top, rgba(240,240,239,1) 0%, rgba(240,240,239,1) 24%, rgba(114,157,172,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,240,239,1)), color-stop(24%, rgba(240,240,239,1)), color-stop(100%, rgba(114,157,172,1)));
background: -webkit-linear-gradient(top, rgba(240,240,239,1) 0%, rgba(240,240,239,1) 24%, rgba(114,157,172,1) 100%);
background: -o-linear-gradient(top, rgba(240,240,239,1) 0%, rgba(240,240,239,1) 24%, rgba(114,157,172,1) 100%);
background: -ms-linear-gradient(top, rgba(240,240,239,1) 0%, rgba(240,240,239,1) 24%, rgba(114,157,172,1) 100%);
background: linear-gradient(to bottom, rgba(240,240,239,1) 0%, rgba(240,240,239,1) 24%, rgba(114,157,172,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0ef', endColorstr='#729dac', GradientType=0 );
}

featurebeeextension .toggleName{
    display: inline-block;
    width: 50%
}

featurebeeextension .toggleState{
    display: inline-block;
    width: 25%
}

featurebeeextension .toggleActionForget{
    display: inline-block;
    width: 10%
}

featurebeeextension .help {
    width: 100%
}

featurebeeextension .feedbackBox {
    display: block;
    width: 94%;
    margin: 0.5rem 2rem 1rem 2px;
}

featurebeeextension .text {
    display: inline-block;
    font-size: 1rem;
}

featurebeeextension .inputFilter {
    display: inline-block;
    width: 50%;
    vertical-align: baseline;
    margin-left: 0.5rem;
}

featurebeeextension .filterContainer {
    margin: 1rem;
    text-align: right;
}

@media (max-width: 1250px) { 
    featurebeeextension .content{
        left: 1rem;
        top: 2rem; 
        right: 1rem;
        height: 80%;
        width: 95%    
    }
}

@media (max-width: 940px) {
    featurebeeextension .toggleContainer {
        font-size: 0.75rem;
    }

    featurebeeextension .maincontentarea{
        width: 60%;
    }

    featurebeeextension .sidecontentarea{
        width: 40%;
    }

    featurebeeextension .toggleButton {
        font-size: 0.6rem;
    }
}

@media (max-width: 840px) {
     featurebeeextension .maincontentarea, 
     featurebeeextension .sidecontentarea{
        width: 100%;
    }
     
    featurebeeextension .toggleButton,
    featurebeeextension .message .text,
    featurebeeextension .message a,
    featurebeeextension .message a:hover {
        font-size: 0.7rem;
    }

}

@media (max-width: 520px) {
    featurebeeextension [data-hide-on-low-resolution]{
        display: none;
    }

    featurebeeextension .toggleName{
        width: 60%
    }

    featurebeeextension .toggleActionButton{
        width: 15%
    }

    featurebeeextension .toggleButton[data-enabled] {
        width: 10%
    }

    featurebeeextension .toggleButtonInactive {
        font-size: 0.5rem;
    }

    featurebeeextension .message .text{
        display:none;
    }
}

/*
featurebeeextension . {

}
*/