featurebeeextension .uiblocker{
    display: block;
    position: fixed;
    left: 0%;
    top: 0%; 
    background-color: black;
    -moz-opacity: 0.7;
    opacity: .70;
    filter: alpha(opacity=70);
    width: 100%;
    height: 100%;
    z-index: 1000;
}

featurebeeextension .content{
    display: block;
    position: relative;
    left: 10%;
    top: 3rem; 
    background-color: #BDB8AD;
    -moz-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
    width: 80%;
    height: 80%;
    z-index: 1001;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 12px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 12px 3px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 12px 3px rgba(0,0,0,0.75);
}

featurebeeextension .title{
    margin: 5px;
}

featurebeeextension .maincontentarea{
    width: 60%;
    display: inline-block;
    vertical-align: top;
}

featurebeeextension .contentareaseparator{
    width: 5%;
    display: inline-block;
}

featurebeeextension .sidecontentarea{
    width: 35%;
    display: inline-block;
    vertical-align: top;
}

featurebeeextension .box{
   font-family: Tahoma, Geneva, sans-serif;
   margin: 10px;
}

featurebeeextension .boxtitle{
    font-size: 1rem;
    font-weight: bold;
    margin: 3px;
    color: #313131;
}

featurebeeextension .boxcontent{
     background-color: #FFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #424242;
    padding: 0.6rem;
    min-height: 40px;
}
featurebeeextension .toggleContainer {
    padding: 4px;
}

featurebeeextension .toggleContainer:hover, featurebeeextension .toggleContainer:focus, featurebeeextension .toggleContainer:active {
    background-color: lightgray;
    cursor: default;
}

featurebeeextension .toggleButton{
    margin: 0 10px 0 5px;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: bold;
    border: 1px solid #424242;
    padding: 2px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

featurebeeextension .toggleButtonInactive{
    width: 5%;
    cursor: default;
}

featurebeeextension .toggleButton:hover, featurebeeextension .toggleButton:focus, featurebeeextension .toggleButton:active {
  cursor: pointer;
}

featurebeeextension .toggleButton[data-enabled=true] {
    color: white;
    width: 5%;
    background: rgba(135,227,50,1);
    background: -moz-linear-gradient(top, rgba(135,227,50,1) 0%, rgba(93,122,7,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(135,227,50,1)), color-stop(100%, rgba(93,122,7,1)));
    background: -webkit-linear-gradient(top, rgba(135,227,50,1) 0%, rgba(93,122,7,1) 100%);
    background: -o-linear-gradient(top, rgba(135,227,50,1) 0%, rgba(93,122,7,1) 100%);
    background: -ms-linear-gradient(top, rgba(135,227,50,1) 0%, rgba(93,122,7,1) 100%);
    background: linear-gradient(to bottom, rgba(135,227,50,1) 0%, rgba(93,122,7,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e332', endColorstr='#5d7a07', GradientType=0 );
}

featurebeeextension .toggleButton[data-enabled=false] {
    width: 5%;
    color: black;
    background: rgba(234,235,232,1);
    background: -moz-linear-gradient(top, rgba(234,235,232,1) 0%, rgba(167,168,166,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(234,235,232,1)), color-stop(100%, rgba(167,168,166,1)));
    background: -webkit-linear-gradient(top, rgba(234,235,232,1) 0%, rgba(167,168,166,1) 100%);
    background: -o-linear-gradient(top, rgba(234,235,232,1) 0%, rgba(167,168,166,1) 100%);
    background: -ms-linear-gradient(top, rgba(234,235,232,1) 0%, rgba(167,168,166,1) 100%);
    background: linear-gradient(to bottom, rgba(234,235,232,1) 0%, rgba(167,168,166,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaebe8', endColorstr='#a7a8a6', GradientType=0 );
}

featurebeeextension .toggleActionButton {
    width: 10%;
background: rgba(240,240,239,1);
background: -moz-linear-gradient(top, rgba(240,240,239,1) 0%, rgba(240,240,239,1) 24%, rgba(114,157,172,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,240,239,1)), color-stop(24%, rgba(240,240,239,1)), color-stop(100%, rgba(114,157,172,1)));
background: -webkit-linear-gradient(top, rgba(240,240,239,1) 0%, rgba(240,240,239,1) 24%, rgba(114,157,172,1) 100%);
background: -o-linear-gradient(top, rgba(240,240,239,1) 0%, rgba(240,240,239,1) 24%, rgba(114,157,172,1) 100%);
background: -ms-linear-gradient(top, rgba(240,240,239,1) 0%, rgba(240,240,239,1) 24%, rgba(114,157,172,1) 100%);
background: linear-gradient(to bottom, rgba(240,240,239,1) 0%, rgba(240,240,239,1) 24%, rgba(114,157,172,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0ef', endColorstr='#729dac', GradientType=0 );
}

featurebeeextension .toggleName{
    display: inline-block;
    width: 50%
}

featurebeeextension .toggleState{
    display: inline-block;
    width: 25%
}

featurebeeextension .toggleActionForget{
    display: inline-block;
    width: 10%
}

/*
featurebeeextension . {

}
*/